@using FhirClientDemo_Blazor.Services;
@using FhirClientDemo_Blazor.Components;
@inherits LayoutComponentBase

<PageTitle>FHIR Client Demo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn p-2 toolbar-button" @onclick="Refresh">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh
            </button>
            <Dropdown></Dropdown>
        </div>

        <article class="content px-4" style="margin:-10px -10px 0px -20px;">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] private NotifyStateService? service { get; set; }
    private NotifyStateService Service => service;

    // TODO: this is not rendering UI (text not updated)
    private void Refresh() => this.Service.NotifyEventClick(this);
}
